#racetrack {
  border: 1px solid black;
  height: 150px;
  background-image: url("../img/nyanBackground.jpg");
  background-size: 100%;
  /*background-repeat: no-repeat;*/
}

.player {
  height: 50px;
  width: 50px;
 /* background-color: blue;*/
  background-repeat: no-repeat;
  background-size: 100%;
  /*border: 1px solid black;*/
  margin: 10px 0 10px 10px;
}